body{
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: cornflowerblue;
    color: white;
    padding: 16px 24px 16px 24px;
    grid-row: span 3;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul li{
    width: min-content;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a:active{
    color:black
}

.sidebar ul li a, .sidebar div{
    display: grid;
    grid-template-columns: 60px min-content;
    align-items: center;
    gap: 16px;
}

.sidebar svg{
    justify-self: center;
}

.sidebar span{
    font-size: 1.7rem;
    font-weight: bold;
}

.sidebar h1{
    margin: 0;
    font-size: 2.3rem;
}

.dash-icon{
    width: 60px;
}

.icon, .sidebar-icon{
    width: 32px;
}

.sidebar-icon, .dash-icon{
    fill: white;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 60px 16px 60px;
    align-items: center;
    background-color: rebeccapurple;
    gap: 18px;
    grid-column: span 2;
}

.header .search{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .search input{
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 10px 30px 10px 30px;
    border: none;
    background-color: #d4d4d4;
    outline: none;
    flex:1;
}

.header .search input:focus::placeholder{
    color:transparent;
}

.header .alerts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:26px;
}

.header .alerts p{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
}

.header .alerts .main-image{
    width: 50px;
    border-radius: 100%;
}

.header .welcome{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.header .welcome p {
    font-weight: bold;
    margin: 0;
    font-size: 1.7rem;
}

.header .welcome p span{
    display: block;
    font-size: 1rem;
}

.header .welcome .main-image{
    width: 76px;
    border-radius: 100%;
    grid-row: span 2;
    justify-self: flex-start;
}

.header .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .btns button{
    border-radius: 30px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 42px;
}

.header .btns button:hover{
    cursor: pointer;
}

.header .btns button:active{
    background-color: lightskyblue;
}

.projects{
    grid-row: span 2;
    padding: 24px;
}

.projects h2{
    margin-top: 0px;
}

.projects .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 26px;
}

.card-container .card{
    display: grid;
    grid-template-rows: min-content 2fr min-content;
    height: max(200px);
    background-color: cyan;
    padding: 28px 36px 28px 36px;
    border-left: 8px solid yellow;
    border-radius: 7px;
}

.card-container .card *{
    margin: 0;
}

.card-container .card .actions{
    display: flex;
    justify-content: flex-end;
    gap:24px;
}

.announcements{
    padding: 24px 24px 24px 0px;
}

.announcements h2{
    margin-top: 0;
}

.announcements h3, .announcements p{
    margin: 0;
}

.announcements .info-container{
    background-color: blanchedalmond;
    padding: 36px;
    border-radius: 10px;
}

.trending{
    padding: 0px 24px 24px 0px;
}

.trending h2{
    margin-top: 0;
}

.trending .users{
    background: lightgreen;
    border-radius: 10px;
    padding: 24px;
}

.trending .users{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.trending .users *{
    margin:0;
}

.trending .user{
    display: flex;
    align-items: center;
    gap: 24px;
}

.trending .user p span{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.user img{
    width: 50px;
    height: 100%;
    border-radius: 100%;
}